---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Zurik Phillips" description="About Zurik Phillips Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for swinging by. Read below to learn more about myself and my background."
			>
				<!--<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Zurik Phillips at work"
				/>-->
			</Hero>

			<section>
				<h2 class="section-title">Who?</h2>
				<div class="content">
					<p>
I am a Professional Sr. frontend developer with full stack developer skills and experience. </p>

<p>
With over 20 years in the web technology career path and working with agile, creative, collaborative, 
flexible development environments, I have gained the knowledge and experience needed to be an excellent 
web developer in both frontend and backend development environments. </p>

<p>Weather I am standing up new server
 environments within a physical environment or working in virtual environment such as AWS. I am capable 
 of creating micro web services and I have developed  restful APIs needed to transmit site data. I have 
 experience working with SQLand Mysql databases, creating tables, views or procedures in the database. 
 And on the frontend I am capable or slicing up artwork in Photoshop, Illustrator, Figma or AffinityDesigner
 or any other image render platform and writing the markup necessary to create visual web wireframes or 
 templates and to render the creative in all modern browsers but done so with responsiveness, grace and 
 elegance and done so as to make everything easy for the user to navigate. I prefer to manage code in git, 
 gitlab or BitBucket. I am familiar with Node.js projects and my primary stack is LAMP but I am familiar 
 with nginx as well as ms iis. I’ve worked with personal sites, small business sites, corporate and 
 enterprise sites such as Spectrum, Verizon and Time Warner Cable as well as worked with internal projects 
 at Verizon where I constructed entire applications on an intranet. During that time I also created the 
 RedZone Frontend UI, RedZone backend content management system and the RedZone API which served an 
 interactive website for field engineers but was also broadcast to a global audience. The API contained 
 sensitive coordinate-based information available to each field engineer used to hopefully save their life 
 by giving them instructions to get police guidance, where to enter on a building, who to contact and which
  portions of the city are dangerous. I have also taught high school and college students HTML, CSS, 
  JavaScript and PHP as well as basic web development, styling with CSS, Using jQuery to shorthand JavaScript
  and web application development using SPA using Astro.build, Node.js, STRAPI API and Laravel PHP. I also 
  have experience with OpenGL web and rendering 3D, interactive content to the web using Unity3D or Unreal 
  Engine 4.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My name is <a href="mailto:zuriknet@gmail.com">Zurik Phillips</a> and I have been working as a Web Developer for 20+ years. 
						I've had the privilege to work with some of the worlds most recognizable brands such
						as The HomeDepot, Pier1 Imports, Chick-Fil-A, Orkin, SummersEve, PediaLax.com, TGIFridays,
						The Salvation Army, GoodyGoody.com, DownTownDallas.com, SUCCESS Magazine, Spectrum.com and  
						Verizon.com and I have also worked with some truly amazing developers. All who have made me
						who I am today!
					</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bryan Adams - GED</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>HTML, CSS / LESS / SCSS, Bootstrap, JavaScript / TypeScript, jQuery, Node.js, npm, Angular2, Astro, WordPress, PHP, Coffee, Laravel, Magento 2, Python, Django, Ruby on Rails, .NET, MySQL, MariaDB, Git, Netlify, vSphere, VBox, Docker, Jenkins, AWS, Azure</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
