---
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="About | Zurik Phillips" description="About Zurik Phillips Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for swinging by. Read below to learn more about myself and my background."
			>
			</Hero>

			<section>
				<h2 class="section-title">Who Am I?</h2>
				<div class="content">
					<p>
I am a Professional Sr. frontend developer with full stack developer skills and experience. </p>

<p>
With over 20 years in the web technology career path and working with agile, creative, collaborative, 
flexible development environments, I have gained the knowledgeable experience needed to be an excellent 
web developer in both frontend and backend environments. </p>

				</div>
			</section>
			<section>
				<h2 class="section-title">My Background</h2>
				<div class="content">
					<p>
						My name is <a href="mailto:zuriknet@gmail.com">Zurik Phillips</a> and I have been in this industry for 20+ years.
						During my career as a web developer, I have wroked with businesses large and small to create web experiences, custom 
						content management systems, custom REST APIs, custom e-shopping solutions, custom micro-sites and micro web-services. 
						I have over 8 years in the creative / ad-agency / agile development /  UI Developer space, I have taught classes in
						web application development the past two years and helped to create real world proof of concept applications that were
						later used in production.
					</p>
				</div>
			</section>
			<!-- <section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Bryan Adams - GED</p>
				</div>
			</section> -->
			<section>
				<h2 class="section-title">My Technical Skills</h2>
				<div class="content">
					<p>HTML, CSS / LESS / SASS, Bootstrap, JavaScript / TypeScript, jQuery, Node.js, npm, Angular2, Astro, WordPress, PHP, Laravel, Magento 2, Python, Django, Ruby on Rails, .NET, MS SQL, MySQL, MariaDB, Postgress, Git, Netlify, vSphere, VBox, Docker, Jenkins, AWS, Azure</p>
					<p>&nbsp;</p>
					<header class="section-header hero gap-12 lg:gap-12" style="width:290px;">
						<CallToAction href="https://drive.google.com/file/d/1OLK1M4Xvjmyj0_9lc2IXm1C-dk6qj8Or/view?usp=sharing">
							My Resume 
							<Icon icon="article" size="1.2em" />
						</CallToAction>
					</header>
				</div>

			</section>


		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	header.section-header.hero.gap-12 {
		padding-top: 30px;
		position: relative;
		left: 25%;
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: none;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

</style>
